/*==================== General styling====================*/
/*==================== Import fonts====================*/
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

header {
  background-blend-mode: multiply;
  background: url("../assets/bg_color.jpg") fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%;
  background-color: #003C57;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}
header nav {
  background-color: #003C57;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
header nav #logo {
  padding: 0 0.5rem;
  color: #ffffff;
  font-family: "Bitter", serif;
  font-weight: 900;
  font-size: 1.54rem;
}
header nav #menu-toggle {
  position: relative;
  flex-basis: 20%;
  text-align: right;
}
header nav #menu-toggle input[type=checkbox] {
  margin: 5px 0.5rem 0 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0;
}
header nav #menu-toggle #toggler {
  top: 17.5px;
  right: 0.5rem;
  width: 30px;
  height: 5px;
  display: block;
  position: absolute;
  background-color: #ffffff;
  pointer-events: none;
}
header nav #menu-toggle #toggler::before, header nav #menu-toggle #toggler::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  pointer-events: none;
}
header nav #menu-toggle #toggler::before {
  top: -11px;
}
header nav #menu-toggle #toggler::after {
  top: 11px;
}
header nav #menu-toggle input[type=checkbox]:checked + #toggler {
  transform: rotate(45deg);
}
header nav #menu-toggle input[type=checkbox]:checked + #toggler::before, header nav #menu-toggle input[type=checkbox]:checked + #toggler::after {
  top: 0;
  transform: rotate(90deg);
}
header nav #menu {
  background-color: #003C57;
  flex-basis: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 1rem 0;
  visibility: hidden;
}
header nav #menu li {
  cursor: pointer;
  height: 30px;
  list-style: none;
}
header nav #menu li a {
  text-align: center;
  display: block;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0 0.5rem;
  line-height: 30px;
  transition: color 400ms;
}
header nav #menu li:first-child a {
  color: #E89B26;
}
header nav #menu li:hover a {
  color: #E89B26;
}
header #hero {
  flex-basis: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
header #hero h1 {
  max-width: 20ch;
  color: #ffffff;
  font-family: "Bitter", serif;
  font-size: 1.65rem;
  font-weight: 800;
  line-height: 0.99;
}
header #hero h1 strong {
  font-weight: 900;
  color: #E89B26;
}
header #hero a {
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #E89B26;
  color: #ffffff;
  padding: 0.75em;
}

/*# sourceMappingURL=styles.css.map */
