/*==================== General styling====================*/
/*==================== Import fonts====================*/
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
/*==================== Global ====================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

main section {
  padding: 4.5rem 0 2rem 0;
  width: 100%;
  min-height: 100vh;
}
main section .section-title {
  text-align: center;
  font-family: "Bitter", serif;
  font-size: 3rem;
  font-weight: 700;
  color: #003C57;
}
@media only screen and (min-width: 1024px) {
  main section .section-title {
    font-size: 4rem;
  }
}

a {
  text-decoration: none;
}

/*==================== Animations ====================*/
@keyframes menu-in {
  from {
    transform: translatey(-192px);
    visibility: hidden;
  }
  to {
    transform: translatey(0px);
    visibility: visible;
  }
}
@keyframes menu-out {
  from {
    transform: translatey(0px);
    visibility: visible;
  }
  to {
    transform: translatey(-192px);
    visibility: hidden;
  }
}
header {
  background-blend-mode: multiply;
  background: url("../assets/bg_color.jpg") fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%;
  background-color: #003C57;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}
header nav {
  background-color: #003C57;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
header nav #menu-toggle {
  position: relative;
  flex-basis: 20%;
  height: 100%;
  text-align: right;
  z-index: 2;
}
header nav #menu-toggle input[type=checkbox] {
  margin: 10px 0.5rem 0 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}
header nav #menu-toggle #toggler {
  position: absolute;
  top: 26px;
  right: 0.5rem;
  width: 40px;
  height: 8px;
  display: block;
  background-color: #ffffff;
  pointer-events: none;
  transition: transform 400ms ease-in-out, background 400ms ease-in-out;
}
header nav #menu-toggle #toggler::before, header nav #menu-toggle #toggler::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 8px;
  background-color: #ffffff;
  pointer-events: none;
  transition: transform 400ms ease-in-out, top 400ms ease-in-out, background 400ms ease-in-out;
}
header nav #menu-toggle #toggler::before {
  top: -17px;
}
header nav #menu-toggle #toggler::after {
  top: 17px;
}
header nav #menu-toggle #menu-check:checked + #toggler {
  transform: rotate(135deg);
}
header nav #menu-toggle #menu-check:checked + #toggler::before, header nav #menu-toggle #menu-check:checked + #toggler::after {
  top: 0;
  transform: rotate(90deg);
}
header nav #menu-toggle #menu-check:hover ~ #toggler,
header nav #menu-toggle #menu-check:focus ~ #toggler {
  background-color: #E89B26;
}
header nav #menu-toggle #menu-check:hover ~ #toggler::before, header nav #menu-toggle #menu-check:hover ~ #toggler::after,
header nav #menu-toggle #menu-check:focus ~ #toggler::before,
header nav #menu-toggle #menu-check:focus ~ #toggler::after {
  background-color: #E89B26;
}
@media only screen and (min-width: 768px) {
  header nav #menu-toggle {
    display: none;
  }
}
header nav #menu {
  background-color: #003C57;
  flex-basis: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 1rem 0;
  visibility: hidden;
}
header nav #menu li {
  cursor: pointer;
  height: 30px;
  list-style: none;
}
header nav #menu li a {
  text-align: center;
  display: block;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1.225rem;
  font-weight: 500;
  padding: 0 0.5rem;
  line-height: 30px;
  transition: color 400ms;
}
header nav #menu li a:focus {
  color: #E89B26;
}
header nav #menu li:first-child a {
  color: #E89B26;
}
header nav #menu li:hover a {
  color: #E89B26;
}
@media only screen and (min-width: 768px) {
  header nav #menu {
    visibility: visible;
    flex-basis: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  header nav #menu {
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 768px) {
  header nav {
    justify-content: center;
  }
}
header #hero {
  flex-basis: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
header #hero h1 {
  max-width: 20ch;
  color: #ffffff;
  font-family: "Bitter", serif;
  font-size: 1.65rem;
  font-weight: 800;
  line-height: 0.99;
}
header #hero h1 strong {
  font-weight: 900;
  color: #E89B26;
}
@media only screen and (min-width: 375px) {
  header #hero h1 {
    font-size: 1.85rem;
  }
}
@media only screen and (min-width: 425px) {
  header #hero h1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  header #hero h1 {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  header #hero h1 {
    font-size: 4rem;
  }
}
header #hero a {
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #E89B26;
  font-weight: 700;
  color: #ffffff;
  padding: 0.75em;
  border: none;
  transition: background 400ms ease-in-out;
}
header #hero a:focus, header #hero a:hover {
  background-color: #eaa63d;
}
header #hero a i {
  font-size: 1rem;
  transition: transform 400ms ease-in-out;
}
header #hero a:hover i, header #hero a:focus i {
  transform: rotate(90deg);
}
@media only screen and (min-width: 1024px) {
  header #hero a {
    font-size: 1.125rem;
  }
  header #hero a i {
    font-size: 1.125rem;
  }
}

#about-section {
  background-color: #F1F1E6;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#about-section .about-col {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#about-section .about-col h2 {
  text-align: center;
  color: #E89B26;
}
@media only screen and (min-width: 768px) {
  #about-section .about-col {
    flex-basis: 45%;
  }
}
#about-section .profile figure {
  text-align: center;
}
#about-section .profile figure img {
  object-fit: cover;
  object-position: center -40px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
#about-section .profile p {
  text-align: center;
  line-height: 1.6;
  color: #434343;
  max-width: 40ch;
}
@media only screen and (min-width: 1024px) {
  #about-section .profile p {
    font-size: 1.225rem;
  }
}
#about-section .skills .skill-bar {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
}
#about-section .skills .skill-bar-header {
  flex-basis: 30%;
  text-align: center;
  background-color: #003C57;
  color: #ffffff;
}
#about-section .skills .skill-bar-level {
  flex-basis: 70%;
  background-color: #00BCFF;
  color: #ffffff;
  text-align: right;
  padding-right: 0.5rem;
}
@media only screen and (min-width: 768px) {
  #about-section .skills .skill-bar {
    width: 100%;
  }
  #about-section .skills .skill-bar-header, #about-section .skills .skill-bar-level {
    height: 25px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  #about-section .skills .skill-bar-header, #about-section .skills .skill-bar-level {
    height: 30px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 768px) {
  #about-section .skills {
    gap: 1.3rem;
  }
  #about-section .skills h2 {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  #about-section {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
  }
  #about-section .section-title {
    flex-basis: 100%;
  }
}

#projects-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#projects-section #project-grid {
  padding: 1rem 0.5rem 0 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 90%;
  grid-template-rows: max-content;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (min-width: 768px) {
  #projects-section #project-grid {
    grid-template-columns: repeat(2, calc(45% - 0.50rem));
  }
}
@media only screen and (min-width: 1024px) {
  #projects-section #project-grid {
    grid-template-columns: repeat(3, calc(30% - 0.50rem));
  }
}
#projects-section #project-grid .project-card {
  width: 100%;
  height: 250px;
  background-color: #F1F1E6;
}
#projects-section #project-grid .project-card figure {
  position: relative;
  width: 100%;
  height: 100%;
}
#projects-section #project-grid .project-card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#projects-section #project-grid .project-card figure img:hover + figcaption, #projects-section #project-grid .project-card figure img:focus + figcaption {
  visibility: visible;
}
#projects-section #project-grid .project-card figure figcaption {
  background-color: #F1F1E6;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
#projects-section #project-grid .project-card figure figcaption:hover {
  visibility: visible;
}
#projects-section #project-grid .project-card figure figcaption .project-title {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #003C57;
  padding-bottom: 1rem;
}
#projects-section #project-grid .project-card figure figcaption p {
  padding: 0 0.5rem;
  text-align: center;
  line-height: 1.3;
  color: #434343;
}
#projects-section #project-grid .project-card figure figcaption a {
  background-color: #E89B26;
  font-weight: 700;
  color: #ffffff;
  padding: 0.75em;
  border: none;
  transition: background 400ms ease-in-out;
  letter-spacing: 1px;
}
#projects-section #project-grid .project-card figure figcaption a:focus, #projects-section #project-grid .project-card figure figcaption a:hover {
  background-color: #eaa63d;
}
#projects-section #project-grid .project-card figure figcaption a i {
  transition: transform 400ms ease-in-out;
}
#projects-section #project-grid .project-card figure figcaption a:hover > i, #projects-section #project-grid .project-card figure figcaption a:focus > i {
  transform: rotate(360deg);
}

#contact-section {
  background-color: #F1F1E6;
}
#contact-section #contact {
  display: flex;
  flex-direction: column;
  padding: 2rem 0.5rem 0 0.5rem;
  gap: 1.3rem;
  text-align: center;
}
#contact-section #contact h3 {
  font-size: 1.5rem;
  color: #E89B26;
}
#contact-section #contact form {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: center;
  row-gap: 1rem;
}
@media only screen and (min-width: 768px) {
  #contact-section #contact form {
    grid-template-columns: repeat(3, 30%);
  }
}
@media only screen and (min-width: 1024px) {
  #contact-section #contact form {
    grid-template-columns: repeat(3, 20%);
  }
}
#contact-section #contact form input[type=text],
#contact-section #contact form textarea {
  grid-column: 1/3;
  padding-left: 10px;
  color: #434343;
}
@media only screen and (min-width: 768px) {
  #contact-section #contact form input[type=text],
#contact-section #contact form textarea {
    grid-column: 1/4;
  }
}
#contact-section #contact form input[type=text] {
  height: 40px;
}
#contact-section #contact form button {
  grid-column: 2/3;
  background-color: #E89B26;
  font-weight: 700;
  color: #ffffff;
  padding: 0.75em;
  border: none;
  transition: background 400ms ease-in-out;
}
#contact-section #contact form button:focus, #contact-section #contact form button:hover {
  background-color: #eaa63d;
}
@media only screen and (min-width: 768px) {
  #contact-section #contact form button {
    grid-column: 3/4;
  }
}

footer {
  background-color: #003C57;
  padding: 4rem 0.5rem 2rem 0.5rem;
  position: relative;
}
footer a {
  color: #99e4ff;
  transition: color 400ms ease-in-out;
}
footer a i {
  font-size: 2.5rem;
}
footer a:hover, footer a:focus {
  color: #00BCFF;
}
footer nav {
  padding-bottom: 2rem;
}
footer nav ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
footer nav ul li {
  list-style: none;
}
footer #arrow-home {
  color: #ffffff;
  position: absolute;
  bottom: 26px;
  right: 8px;
}
footer #arrow-home:hover, footer #arrow-home:focus {
  color: #E89B26;
}
footer h4 {
  color: #ffffff;
  text-align: center;
  letter-spacing: 1.3px;
}

/*==================== Header Component====================*/
/*==================== About Component====================*/
/*==================== Projects Component====================*/
/*==================== Contact Component====================*/
/*==================== Footer Component====================*/

/*# sourceMappingURL=styles.css.map */
